  <style>
  body {
    background-color: #0049B0;
  }
.shortcut icon {
  wid{
    width: 141.17px;
    height: 32px;
    background-image: url('logo.png');
    background-size: cover; /* растягиваем картинку на всю площадь */
    background-position: left; /* центрируем картинку */
}
.text1
{
    margin-right: 480px;
    padding-right: 200px;
    width: 470px;
    height: 90px;
    background-image: url('путь_к_картинке.jpg');
    background-size: cover; /* растягиваем картинку на всю площадь */
    background-position: center; /* центрируем картинку */
}
  .text2
  {
    width: 311px;
    height: 268px;
    background-image: url('путь_к_картинке.jpg');
    background-size: cover; /* растягиваем картинку на всю площадь */
    background-position: center; /* центрируем картинку */
}
  </style>