body {
  background-color: #0049b0;
}
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.text1 {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 40px;
  margin-left: 666px;
  color: white;
  width: px;
  height: px;
}
.text2 {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 80px;
  margin-left: 666px;
  color: white;
  width: px;
  height: x;
}
.button1 {
  border: 5px;
  color: white;
  margin-left: 666px;
  border: none;
  outline-style: solid;
  outline-width: 2px;
}
.button2 {
  border: 5px;
  color: white;
  margin-left: 16px;
  border: none;
  outline-style: solid;
  outline-width: 2px;
}
.yearestablish {
  font-family: Manrope;
  font-style: light;
  font-size: 13px;
  font-weight: 200;
  color: white;
  margin-left: 160px;
}
.insta {
  font-family: Manrope;
  font-style: light;
  font-size: 13px;
  font-weight: 300;
  color: white;
  margin-left: 16px;
}
